DDona.WebService.Console/Web References/TesteWS/wsTeste.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldEncriptado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Frase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Chave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldEncriptadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldEncriptadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldDesencriptado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FraseEncriptada" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Chave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldDesencriptadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldDesencriptadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Soma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="A" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="B" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SomaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SomaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Subtracao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="A" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="B" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtracaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubtracaoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldEncriptadoSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorldEncriptado" />
  </wsdl:message>
  <wsdl:message name="HelloWorldEncriptadoSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldEncriptadoResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldDesencriptadoSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorldDesencriptado" />
  </wsdl:message>
  <wsdl:message name="HelloWorldDesencriptadoSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldDesencriptadoResponse" />
  </wsdl:message>
  <wsdl:message name="SomaSoapIn">
    <wsdl:part name="parameters" element="tns:Soma" />
  </wsdl:message>
  <wsdl:message name="SomaSoapOut">
    <wsdl:part name="parameters" element="tns:SomaResponse" />
  </wsdl:message>
  <wsdl:message name="SubtracaoSoapIn">
    <wsdl:part name="parameters" element="tns:Subtracao" />
  </wsdl:message>
  <wsdl:message name="SubtracaoSoapOut">
    <wsdl:part name="parameters" element="tns:SubtracaoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsTesteSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldEncriptado">
      <wsdl:input message="tns:HelloWorldEncriptadoSoapIn" />
      <wsdl:output message="tns:HelloWorldEncriptadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldDesencriptado">
      <wsdl:input message="tns:HelloWorldDesencriptadoSoapIn" />
      <wsdl:output message="tns:HelloWorldDesencriptadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Soma">
      <wsdl:input message="tns:SomaSoapIn" />
      <wsdl:output message="tns:SomaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Subtracao">
      <wsdl:input message="tns:SubtracaoSoapIn" />
      <wsdl:output message="tns:SubtracaoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsTesteSoap" type="tns:wsTesteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldEncriptado">
      <soap:operation soapAction="http://tempuri.org/HelloWorldEncriptado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldDesencriptado">
      <soap:operation soapAction="http://tempuri.org/HelloWorldDesencriptado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Soma">
      <soap:operation soapAction="http://tempuri.org/Soma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtracao">
      <soap:operation soapAction="http://tempuri.org/Subtracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsTesteSoap12" type="tns:wsTesteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldEncriptado">
      <soap12:operation soapAction="http://tempuri.org/HelloWorldEncriptado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldDesencriptado">
      <soap12:operation soapAction="http://tempuri.org/HelloWorldDesencriptado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Soma">
      <soap12:operation soapAction="http://tempuri.org/Soma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtracao">
      <soap12:operation soapAction="http://tempuri.org/Subtracao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsTeste">
    <wsdl:port name="wsTesteSoap" binding="tns:wsTesteSoap">
      <soap:address location="http://localhost:2561/wsTeste.asmx" />
    </wsdl:port>
    <wsdl:port name="wsTesteSoap12" binding="tns:wsTesteSoap12">
      <soap12:address location="http://localhost:2561/wsTeste.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>